<div *ngIf="ui.allMyFriendsVisible$ | async" class="container-narrow section">
  <div class="card rounded-xxl soft-shadow">
    <div class="card-body">
      <h4 class="mb-4 brand-gradient fw-800">Mes amis</h4>

      <div class="card mb-3" *ngFor="let i of friendsService.myFriends">
        <div class="card-body">
          <app-friend-card-component
            (PushName)="ui.closeSidebar()"
            [showBtnAdd]="false"
            [user]="i"
            (deleteFriend)="friendsService.deleteFriend(i.id)"
            [ifMyFriend]="!!friendsService.ifMyFriend(i.id)">
          </app-friend-card-component>
        </div>
      </div>

      <div *ngIf="!friendsService.myFriends.length" class="text-center text-muted">
        Tu n’as pas encore d’ami. Va dans la recherche pour en ajouter !
      </div>
    </div>
  </div>
</div>